@font-face {
  font-family: 'daniel';
  src: url("daniel.ttf");
};

@font-face {
  font-family: 'comfortaaBold';
  src: url("Comfortaa-Bold.ttf");
}

h1 {
  font-family: 'daniel';
  color: hotpink;
};

@font-face {
  font-family: 'daniel';
  src: url("daniel.ttf");
};

p {
  font-family: 'daniel';
}